
  <div *ngIf="usuario && !cargando ; else showLogin">
    <!-- <h1>Hello {{ usuario.displayName }}!</h1> -->
    <app-encabezado></app-encabezado>
    <router-outlet></router-outlet>
    <!-- <button (click)="logout()">Logout</button> -->
  </div>
  <ng-template #showLogin>
    <div class="container" *ngIf="cargando">
      <div class="text-center">
        <ngx-spinner bdColor = "rgba(207,207,207,0.8)" size = "large" color = "#000000" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando ... </p></ngx-spinner>
      </div>
    </div>
    <app-login *ngIf="!cargando"></app-login>
  </ng-template>


  

