<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
          <a class="nav-link"[routerLink]="[ '/inscripcion' ]" routerLinkActive="active">Inscripcion <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[ '/listadoInscripciones' ]" routerLinkActive="active">Ver inscripciones </a>
        </li>
        <li class="nav-item dropdown" dropdown >
          <a class="nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="[ '/agregarClientes' ]" routerLinkActive="active">Agregar Clientes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="[ '/listadoClientes' ]" routerLinkActive="active" >Ver clientes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/precios']" routerLinkActive="active">Precios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Usuarios</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Usuario Actual: {{emailUsuario}} </a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
    <button (click)="logout()" class="btn btn-warning"> Salir</button>
  </nav>

  

  